# Dependencies
client/node_modules/

# Python
__pycache__/
*.py[cod]
server/venv/
.env

# Build
client/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#data
server/data/

#testing files
server/check_pdf.py
server/test_chunker.py
server/test_embeddings.py
server/test_pdf.py
server/test_retriever.py
server/test_save_index.py
server/test_vector_store.py